body {
    
    font-size: 16px;
    color: white;
    background-color: rgb(36, 35, 43);
    font-family: 'Oxygen', sans-serif;

  }

    h1{
        font-size: 5em;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(80, 140, 189);
        margin-bottom: 100px;
    }

    h2{
        font-size: 2em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;
        color: rgb(95, 160, 106);
        font-weight: bold;
    }

     /* Home Page */
  .container .jumbotron {
    background: url('../images/birthday2.jpg') no-repeat;
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;  
    height:500px;
  }
  /* End Home Page */


   #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
  }
   #specials-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
  }
 
  #specials-tile {
    background: url('../images/july3.jpg') no-repeat;
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;  
  }

   #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    background-color: #000;
    color: #fff;
    opacity: .6;
  }